body {
  font-family: Georgia;
}

.container {
  padding: 0 40px;
  margin-left: 45px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#FFD700;
}


h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 100px;
  /* Радиус скругления */
  border: 3px solid transparent;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 3px solid #FFD700;
}
